<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-right">
      <ul class="footer-right-list">
        <% for (var name in theme.links){ %>
          <li class=""><a href="<%- url_for(theme.links[name]) %>" target="_blank" rel="nofollow"><%- name %></a></li>
        <% } %>
      </ul>
      <a class="footer-beian" href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow"><%- theme.beian %></a>
    </div>
    <div id="footer-info">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>.
      Theme by <a href="https://github.com/hexojs/hexo-theme-landscape" target="_blank">landscape</a>.
    </div>
  </div>
</footer>